In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dirtydata.csv')

In [3]:
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127    -300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132    -280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [4]:
df.shape #to get the dimension of the data set

(32, 5)

In [5]:
df.describe() # to give the details about the database how many columns rows

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  266.013333
std     70.039591    7.832933   12.998759  164.876415
min     30.000000   90.000000  101.000000 -300.000000
25%     60.000000  100.000000  120.000000  247.000000
50%     60.000000  102.500000  127.500000  282.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [6]:
df.dtypes #data type of every attribute

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [7]:
df.isnull() #true or false

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False      True
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False      True
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

In [8]:
df.isnull().sum() #directly gives the sum of null values

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [9]:
df['Calories'] = df['Calories'].abs()
print(df) #remove the negative values from calories

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [10]:
x = df['Calories'].mean() #take mean value of calories column in x
print('mean : ',x)
print('----------------------------------------------------------------------')
df['Calories'].fillna(x,inplace = True) #fill every null value with value of x
print(df)

mean :  304.68
----------------------------------------------------------------------
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [11]:
df.dropna(subset = ['Date'], inplace=True) #row with null value get's deleted from dataset
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [12]:
df['Date']=pd.to_datetime(df['Date']) #convert string data types Datecolumn to date type
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        450 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00

In [13]:
df['Calories'] = df['Calories'].astype(int) #remove decimal from calories column
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7        450 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
12        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       304
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       304
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [14]:
df.loc[7, 'Duration'] = 45 #change 7th index's Duratoin column's value to 45
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7         45 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
12        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       304
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       304
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [15]:
df.duplicated().sum() #contains one duplicate entry

1

In [16]:
df.drop_duplicates(inplace = True) #drop the row with duplicate
print(df) 
df.duplicated().sum()

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7         45 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       304
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       304
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

0

In [22]:
for x in df.index:
    if df.loc[x,'Duration']>45 :
        df.loc[x,'Duration']=50
print(df)

AttributeError: 'int' object has no attribute 'index'

AttributeError: 'int' object has no attribute 'index'